body { margin: 0; padding: 0; background: fff; color: #111; font: 500 16px/1.2em sans-serif; }

h1, h2, h3, h4, p { margin: 0 0 1em; }

form { margin: 0; padding: 0px; }
form p { margin: 0 0 10px; padding: 0; }
form p label { display: block; margin: 0 0 10px; font-weight: 700; }
form p input[type='text'], form p textarea { display: block; margin: 0; padding: 10px; width: 420px; background: #fff; border: 1px solid #ccc; }
form p input[type='submit'] { display: inline-block; margin: 0; padding: 5px 10px; background: #666; color: #fff; border: none; border-radius: 3px; }

#wrap { margin: 0 auto; padding: 20px 0; width: 960px; text-align: center; }
#wrap #header { background: #ccc; color: #111; }
#wrap #header h1 { margin: 0; padding: 20px 10px; text-align: left; }
#wrap #topNav { background: #ddd; color: #111; }
#wrap #topNav ul { margin: 0; padding: 0; width: 100%; list-style: none; overflow: hidden; }
#wrap #topNav ul li { display: inline; float: left; }
#wrap #topNav ul li a, #wrap #topNav ul li a:visited, #wrap #topNav ul li a:hover { display: block; padding: 5px 10px; background: transparent; color: #333; text-decoration: none; }
#wrap #main { text-align: left; }
#wrap #main #content { margin: 0 10px; padding: 10px 0; }
