<article class="snippet">
	<header>
		<h3><%= @snippet.title %></h3>
	<header>
	
	<section>
		<pre><%= @snippet.snippet %></pre>
	</section>
	
	<footer>
		<p>Added <time datetime="<%= @snippet.created %>"><%= @snippet.created.strftime("#{@snippet.created.day.to_ordinal} %B %Y") %> by Anonymous</p>
	</footer>
</article>