<section id="content">
	<h3>Submit A Snippet</h3>
	
	<form action="/submit" method="post" accept-charset="utf-8">
		<p>
			<label for="title">Title</label>
			<input type="text" name="title" id="title" value="" placeholder="Enter a title..." />
		</p>
		<p>
			<label for="title">Snippet</label>
			<textarea name="snippet" id="title" placeholder="Enter your snippet..." rows="8"></textarea>
		</p>
		<p>
			<input type="submit" name="submit" value="Submit" />
		</p>
	</form>
	
</section>